@* CABECERA *@
<header id="cabecera" class="comun">

    @* INFORMACIÓN CABECERA *@
    <div id="contenedor-info">

    </div>

    @* MENÚ CABECERA *@
    <div id="contenedor-menu">

    </div>

</header>
