
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ulfsark Metal</title>
</head>
<body>

    @* CABECERA *@
    @Html.Partial("Header");

    <div> 
  
    </div>

    @* PIE DE PAGINA *@


</body>
</html>
